{{define "media_tags"}}

{{ $genderVariable := "o" }}
{{ if eq .Candidato.Gender "FEMININO" }}
{{ $genderVariable = "a" }}
{{ end }}

<meta property="og:title" content="candidatos.info">
<meta property="og:site_name" content="candidatos.info">
<meta property="og:url" content="http://candidatos.info/">
<meta property="og:description"
    content="{{.Candidato.Name}} (candidat{{ $genderVariable }} a {{.Candidato.Role}}) {{.Candidato.BallotNumber}} - {{.Candidato.City}}/{{ .Candidato.State }}. Pautas: {{ range $index, $element := .Candidato.Proposals}}{{if $index}}, {{end}}{{$element.Topic}}{{end}}.">
<meta property="og:image" content="{{.Candidato.PhotoURL}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{.Candidato.PhotoURL}}">
<meta name="twitter:image:alt" content="Foto d{{ $genderVariable }} candidat{{ $genderVariable }} {{.Candidato.Name}}">

{{end}}

{{define "content"}}
<div class="container py-2 space-y-2">
    <div class="row space-y-2">
        <div class="col-12 col-md-4 mb-4">
            <section class="bg-white h-100 rounded mb-0">
                <div class="rounded-top {{template "candidateBgColorForTransparency" .Candidato.Transparency}}"
                    style="height: 6px;"></div>
        
                <div class="card px-4 py-3 candidate-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6 mx-auto">
                                <img class="card-img-top d-block img-fluid w-75 mx-auto my-2" src="{{.Candidato.PhotoURL}}"
                                    alt="Foto de {{.Candidato.Name}}" />
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-10 mx-auto text-center">
                                <div class="d-flex flex-column space-y-0 mb-2">
                                    <h5 class="card-title candidate-card--title text-secondary-button mb-0">
                                        {{.Candidato.BallotName}}</h5>
                                    <small class="card-text candidate-card--city text-secondary-button">{{.Candidato.City}}</small>
                                </div>
                                <div class="d-flex flex-column space-y-0 ">
                                    <p class="card-text candidate-card--position text-text mb-0">{{.Candidato.Role}}</p>
                                    <p class="card-text candidate-card--number text-text font-weight-bold">
                                        {{.Candidato.BallotNumber}}</p>
                                </div>
                            </div>
                        </div>
            
                        {{if .Candidato.Contacts}}
                        <div class="py-1 d-flex justify-content-center space-x-2">
                            {{range .Candidato.Contacts}}
                            <div class="py-1 d-flex justify-content-start align-items-center candidate-card--contact"><a
                                    href="{{.Value}}" class="text-secondary-button"><span
                                        class="candidate-card--contact-icon">{{template "socialIcon" .SocialNetwork}}</span></a>
                            </div>
                            {{end}}
                        </div>
                        {{end}}
                        
                        {{if not .Candidato.Proposals}}
                        <div class="row flex-column pb-0 pt-3 mb-0">
                            <a class = "btn btn-primary" href="mailto:{{.ReqProposalEmail.To}}?subject={{.ReqProposalEmail.Subject}}&body={{.ReqProposalEmail.Body}}" role = "button">Solicite Propostas</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </section>
        </div>
        <div class="col-12 col-md-8 mb-4">
            <section class="bg-white h-100 rounded p-4">
                <h3 class="box-title">Quem sou eu?</h3>
                {{if .Candidato.Biography}}
                {{.Candidato.Biography}}
                {{else}}
                {{template "emptyState" "Este candidato não disponibilizou biografia :("}}
                {{end}}
            </section>
        </div>
    </div>
    

    <section class="bg-white rounded p-4 mb-5">
        <h3 class="box-title mb-4">Propostas</h3>
        {{if not .Candidato.Proposals}}
        {{template "emptyState" "Este candidato não disponibilizou propostas :("}}
        {{else}}
        <div class="space-y-2">
            {{range .Candidato.Proposals}}
            <div>
                <span class="inline-block badge badge-pill bg-button p-2 text-wrap mb-1">{{.Topic}}</span>
                <p>
                    {{.Description}}
                </p>
            </div>
            {{end}}
        </div>
        {{end}}
    </section>

    <section id="relatedCandidates">
        <h3 class="page-title text-center" style="margin-top: 30px; margin-bottom: 30px;">Candidaturas relacionadas</h3>
        {{if .RelatedCandidates}}
        <div class="overflow-auto row flex-row flex-nowrap" style="margin-left: 0; margin-right: 0;"
            id="relatedCandidaturesList">
            {{range .RelatedCandidates}}
            <div class="col-8 col-md-4 col-lg-2" style="padding: 4px;">
                <a href="/c/{{$.Candidato.Year}}/{{.SequentialID}}" style="color: unset;">
                    {{template "candidatoCard" .}}
                </a>
            </div>
            {{end}}
        </div>
        {{else}}
        <div class="mb-3">
            {{template "emptyRelated" .}}
        </div>
        {{end}}
    </section>
</div>
{{end}}

{{define "emptyRelated"}}
<div class="row justify-content-center home-section--empty-text">
    <div class="col-10">
        <div class="text-text d-flex flex-column justify-content-center align-items-start">
            <div class="mx-auto pt-4 pb-6">
                {{template "emptyState" "Não encontramos candidaturas com propostas/pautas relacionadas :("}}
                <p class="mb-0">Se for candidato(a), cadastre-se <a href="http://candidatos.info/sou-candidato">aqui</a>.</p>
                <p class="mb-0">Se for eleitor(a), cobre do(a) seu candidato(a)!</p>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "pageStyles"}}
<style>
    .box-title {
        font-size: 20px;
        font-weight: bold;
    }
</style>
{{end}}
