{{define "content"}}
<div class="container py-2">
    <section
        class="bg-white rounded mb-4"
    >
        <div class="rounded-top {{template "candidateBgColorForTransparency" .Candidato}}" style="height: 6px;"></div>
        <div class="px-4 py-2">
            <div class="d-flex justify-content-start">
                {{template "candidateTransparency" .Candidato}}
            </div>

            <div class="row">
                <div class="col-6">
                    <img
                            class="rounded-circle cover mx-auto p-1"
                            src="{{.Candidato.PhotoURL}}"
                            alt="Card image cap"
                            style="width: 128px; height: 128px;"
                    />
                </div>
                <div class="col-6">
                    <h5 class="card-title text-dark mb-0">{{.Candidato.Name}}</h5>
                    <small class="card-text text-dark" style="font-size: 10px;">{{.Candidato.City}}</small>
                    <p class="card-text text-text mb-0">{{.Candidato.Role}}</p>
                    <p class="card-text text-text">{{.Candidato.BallotNumber}}</p>
                </div>
            </div>

            <div class="row">
                {{range .Candidato.Contacts}}
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="p-2"><a href="{{.Value}}" class="text-secondary-button">{{template "socialIcon" .SocialNetwork}} {{.SocialNetwork}}</a></div>
                    </div>
                {{end}}
            </div>
        </div>
    </section>

    <section class="bg-white rounded p-4 mb-4">
        <h3 class="box-title mb-4">Causas/Pautas</h3>
        {{range .Candidato.Proposals}}
        <p>
            <strong>{{.Topic}}:&nbsp;</strong>{{.Description}}
        </p>
        {{end}}
    </section>

    <section class="bg-white rounded p-4">
        <h3 class="box-title">Quem sou eu?</h3>
        {{.Candidato.Biography}}
    </section>

    <section>
        <h3 class="page-title text-center" style="margin-top: 30px; margin-bottom: 30px;">Candidaturas relacionadas</h3>
        <div class="overflow-auto row flex-row flex-nowrap" style="margin-left: 0; margin-right: 0;">
            {{range .RelatedCandidates}}
            <div class="col-6 col-md-4 col-lg-2" style="padding: 4px;">
                <a href="/candidatos/2" style="color: unset;">
                    {{template "candidatoCard" .}}
                </a>
            </div>
            {{end}}
        </div>
    </section>
</div>
{{end}}

{{define "pageStyles"}}
<style>
    .box-title {
        font-size: 20px;
        font-weight: bold;
    }
</style>
{{end}}