{{define "media_tags"}}

{{ $genderVariable := "o" }}
{{ if eq .Candidato.Gender "FEMININO" }}
    {{ $genderVariable = "a" }}
{{ end }}

<meta property="og:title" content="candidatos.info">
<meta property="og:site_name" content="candidatos.info">
<meta property="og:url" content="http://candidatos.info/">
<meta property="og:description" content="{{.Candidato.Name}} (candidat{{ $genderVariable }} a {{.Candidato.Role}}) {{.Candidato.BallotNumber}} - {{.Candidato.City}}/{{ .Candidato.State }}. Pautas: {{ range $index, $element := .Candidato.Proposals}}{{if $index}}, {{end}}{{$element.Topic}}{{end}}.">
<meta property="og:image" content="{{.Candidato.PhotoURL}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{.Candidato.PhotoURL}}">
<meta name="twitter:image:alt" content="Foto d{{ $genderVariable }} candidat{{ $genderVariable }} {{.Candidato.Name}}">

{{end}}

{{define "content"}}
<div class="container py-2">
    <section
        class="bg-white rounded mb-4"
    >
        <div class="rounded-top {{template "candidateBgColorForTransparency" .Candidato}}" style="height: 6px;"></div>
        <div class="px-4 py-2 candidate-card">
            <div class="d-flex justify-content-start">
                {{template "candidateTransparency" .Candidato}}
            </div>

            <div class="row">
                <div class="col-12 col-md-6 mx-auto">
                    <img
                        class="card-img-top d-block img-fluid w-25 mx-auto my-2"
                        src="{{.Candidato.PhotoURL}}"
                        alt="Foto de {{.Candidato.Name}}"
                    />
                </div>
            </div>

            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <div class="d-flex flex-column space-y-0 mb-2">
                        <h5 class="card-title candidate-card--title text-secondary-button mb-0">{{.Candidato.Name}}</h5>
                        <small class="card-text candidate-card--city text-secondary-button">{{.Candidato.City}}</small>
                    </div>
                    <div class="d-flex flex-column space-y-0 ">
                        <p class="card-text candidate-card--position text-text mb-0">{{.Candidato.Role}}</p>
                        <p class="card-text candidate-card--number text-text font-weight-bold">{{.Candidato.BallotNumber}}</p>
                    </div>
                </div>
            </div>

            {{if .Candidato.Contacts}}
            <div class="py-1 d-flex justify-content-center space-x-2">
                {{range .Candidato.Contacts}}
                <div class="py-1 d-flex justify-content-start align-items-center candidate-card--contact"><a href="{{.Value}}" class="text-secondary-button"><span class="candidate-card--contact-icon">{{template "socialIcon" .SocialNetwork}}</span></a></div>
                {{end}}
            </div>
            {{end}}
        </div>
    </section>

    <section class="bg-white rounded p-4 mb-4">
        <h3 class="box-title mb-4">Causas/Pautas</h3>
        {{if not .Candidato.Proposals}}
            {{template "emptyState" "Este candidato não disponibilizou propostas :("}}
        {{else}}
            {{range .Candidato.Proposals}}
            <p>
                <strong>{{.Topic}}:&nbsp;</strong>{{.Description}}
            </p>
            {{end}}
        {{end}}
    </section>

    <section class="bg-white rounded p-4">
        <h3 class="box-title">Quem sou eu?</h3>
        {{if .Candidato.Biography}}
            {{.Candidato.Biography}}
        {{else}}
            {{template "emptyState" "Este candidato não disponibilizou biografia :("}}
        {{end}}
    </section>

    <section>
        <h3 class="page-title text-center" style="margin-top: 30px; margin-bottom: 30px;">Candidaturas relacionadas</h3>
        <div class="overflow-auto row flex-row flex-nowrap" style="margin-left: 0; margin-right: 0;">
            {{range .RelatedCandidates}}
            <div class="col-6 col-md-4 col-lg-2" style="padding: 4px;">
                <a href="/candidatos/2" style="color: unset;">
                    {{template "candidatoCard" .}}
                </a>
            </div>
            {{end}}
        </div>
    </section>
</div>
{{end}}

{{define "pageStyles"}}
<style>
    .box-title {
        font-size: 20px;
        font-weight: bold;
    }
</style>
{{end}}