{{define "content"}}
    {{if .NonTransparentCandidates}}
        <div id="nonTransparentCandidatesCard" class="overflow-auto row flex-row flex-nowrap">
            {{range .NonTransparentCandidates}}
            <div class="col-7 col-md-4 col-lg-2" style="padding: 4px;">
                <a href="/c/{{$.Filters.Year}}/{{.SequentialID}}" style="color: unset;">
                    {{template "candidatoCard" .}}
                </a>
            </div>
            {{end}}

            <div
                class="load-more-btn col-2 d-flex flex-column justify-content-center"
                style="padding: 4px;" 
                data-append-section="#nonTransparentCandidatesCard"
                data-load-more-section="#nonTransparentCandidatesLoadMore"
                data-replace-load-more
                id="nonTransparentCandidatesLoadMore"
            >
                <a href="{{$.LoadMoreUrl}}" class="btn btn-link btn-sm text-dark mx-auto">ver mais</a>
            </div>
        </div>
    {{end}}
{{end}}