{{define "media_tags"}}

<meta property="og:title" content="candidatos.info">
<meta property="og:site_name" content="candidatos.info">
<meta property="og:url" content="http://candidatos.info/">
<meta property="og:description" content="Esta plataforma é uma criação colaborativa e aberta que permite o enriquecimento e disponibilização das
            informações e pautas sobre as candidaturas legislativas e executivas no âmbito municipal (vereadores e
            prefeitos).">
<meta property="og:image" content="https://s3.amazonaws.com/candidatos.info-public/logo.jpg">

{{end}}

{{define "pageStyles"}}
<style>
    .filters-wrapper {
        box-shadow: 0 4px 2px -2px  rgba(0, 151, 255, 0.1);
    }
</style>
{{end}}

{{define "filters"}}
<form name="filtros" id="filtros" method="get" class="col-12">
    <div class="form-row">
        <div class="form-group col-8">
            <select class="custom-select" name="estado">
                <option value="">Escolha um estado</option>
                {{range $id, $val := .AllStates}}
                <option value="{{$id}}" {{ if eq $.Filters.State $id }} selected {{end}}>
                    {{$val}}
                </option>
                {{end}}
            </select>
        </div>
        <div class="form-group col-4">
            <select name="ano" class="custom-select" disabled="disabled">
                <option selected="true">{{.Filters.Year}}</option>
            </select>
        </div>
    </div>

    {{if .Filters.State}}
    <div class="form-row">
        <div class="form-group col-8">
            <select name="cidade" class="custom-select">
                <option value="">Escolha uma Cidade</option>
                {{range $i, $v := .CitiesOfState}}
                <option value="{{$v}}" {{if eq $v $.Filters.City}}selected{{end}}>
                    {{$v}}
                </option>
                {{end}}
            </select>
        </div>
        <div class="form-group col-4">
            <select name="cargo" class="custom-select">
                <option value="">Cargo</option>
                {{range $i, $v := .AllRoles}}
                <option value="{{$i}}" {{if eq $i $.Filters.Role}}selected{{end}}>
                    {{$v}}
                </option>
                {{end}}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 col-md-8">
            <select name="tags" class="custom-select" size="3" multiple>
                <option value="" default disabled>
                    Escolha uma Causa/Pauta
                </option>
                {{range $i, $v := .Tags}}
                {{if ne $v ""}}
                <option value="{{$v}}" {{if eq $v $.Filters.Tag}}selected{{end}}>
                    {{$v}}
                </option>
                {{end}}
                {{end}}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 col-md-8">
            <input class="form-control" style="width: 100%" value="{{ $.Filters.Name }}" id="candidateName" type="text"
                name="nome" placeholder="Busque pelo nome">
        </div>
    </div>
    {{end}}
</form>
{{end}}

{{define "transparentCandidates"}}
<div>
    <div x-data="{
                showDetails: false,
                toggle: function () {
                    this.showDetails = !this.showDetails;
                }
            }">
        <div class="d-flex justify-content-center align-items-center space-x-2">
            <div class="transparency-card d-flex flex-column justify-content-center">
                {{template "candidateTransparencyDiamond" 100.}}
            </div>

            <h3 class="home-section--title font-weight-bold m-0">
                Candidaturas com Pautas/Propostas
            </h3>

            <button class="btn btn-link p-0" :class="{'rotate-180': showDetails}" @click="toggle">
                <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.3164 1L6.31641 6L1.31641 0.999998" stroke="#0A446B" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="my-3" x-show="showDetails">
            <p>
                As candidaturas com propostas tem a mesma chance de aparecer. Serão apresentadas no máximo {{.NonTransparentMaxCards}}
                resultados filtrados e sem ordem pré-definda. Esses resultados podem mudar cada vez que você acessar essa página.
            </p>
        </div>
    </div>
    {{if .TransparentCandidates}}
    <div class="row mt-3" style="margin-left: -8px; margin-right: -8px; align-items: stretch;" id="candidatesList">
        {{range .TransparentCandidates}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3"
            style="padding-left: 8px; padding-right: 8px; margin-bottom: 16px;">
            <a href="/c/{{$.Filters.Year}}/{{.SequentialID}}" style="color: unset">
                {{template "candidatoCard" .}}
            </a>
        </div>
        {{end}}
    </div>
    {{else}}
    <div class="mb-3">
        {{template "emptyTransparentCandidates" .}}
    </div>
    {{end}}
</div>
{{end}}

{{define "emptyTransparentCandidates"}}
<div class="row justify-content-center home-section--empty-text">
    <div class="col-10">
        <div class="text-text d-flex flex-column justify-content-center align-items-start">
            <div class="mx-auto pt-4 pb-6">
                {{template "emptyState" "Não encontramos candidaturas com propostas para a sua busca :("}}
                <p class="mb-0">Se for candidato(a), cadastre-se <a href="http://candidatos.info/sou-candidato">aqui</a>.</p>
                <p class="mb-0">Se for eleitor(a), cobre do(a) seu candidato(a)!</p>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "nonTransparentCandidates"}}
{{if .NonTransparentCandidates}}
<div class="my-4 mx-2">
    <div x-data="{
                showDetails: false,
                toggle: function () {
                    this.showDetails = !this.showDetails;
                }
            }">
        <div class="d-flex justify-content-center align-items-center space-x-2">
            <div class="transparency-card d-flex flex-column justify-content-center">
                {{template "candidateTransparencyDiamond" 0.}}
            </div>

            <h3 class="home-section--title font-weight-bold m-0">
                Candidaturas sem Pautas/Propostas
            </h3>

            <button class="btn btn-link p-0" :class="{'rotate-180': showDetails}" @click="toggle">
                <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.3164 1L6.31641 6L1.31641 0.999998" stroke="#0A446B" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="my-3" x-show="showDetails">
            <p>
                Como a plataforma tem por objetivo melhorar a qualidade do debate, não temos como priorizar candidaturas não-transparentes.
                Daremos a todas igual chance de aparecer, apresentando no máximo {{.NonTransparentMaxCards}} resultados sem ordem
                pré-definda. Esses resultados podem mudar cada vez que você acessar essa página.
            </p>

            <p>
                É uma pessoa candidata? Comece a pautar o debate eleitoral adicionando informações <a
                    href="http://candidatos.info/sou-candidato">aqui</a>. É eleitora(o)? Cobre da sua(eu) candidata(o) que cadastre pautas/propostas!
            </p>
        </div>
    </div>

    <section class="mt-2">
        <div style="margin-left: 0; margin-right: 0;">
            <div id="nonTransparentCandidatesCard" class="overflow-auto row flex-row flex-nowrap">
                {{range .NonTransparentCandidates}}
                <div class="col-8 col-md-4 col-lg-2" style="padding: 4px;">
                    <a href="/c/{{$.Filters.Year}}/{{.SequentialID}}" style="color: unset;">
                        {{template "candidatoCard" .}}
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </section>
</div>
{{end}}
{{end}}

{{define "emptyCandidatos"}}
<div class="col-12 col-md-5 mx-auto">
    <div class="jumbotron mt-5" style="padding: 0;">
        <p class="lead">Busque por candidaturas com propostas que você mais acredita!</p>
    </div>
</div>
{{end}}

{{define "content"}}
<div id="home">
    <div class="filters-wrapper">
        <div class="container mt-2">
            <div class="col-12 col-md-5 mx-auto">
                <div class="row">
                    {{template "filters" .}}
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div id="candidates">
            {{ if (ne .Filters.State "") }}
            {{template "transparentCandidates" .}}
            {{template "nonTransparentCandidates" .}}
            {{else}}
            {{template "emptyCandidatos" .}}
            {{end}}
        </div>
    </div>
</div>
{{end}}

{{define "scripts"}}
<script>
    $(function () {
        var $home = $('#home');
        $home.on('change', '#filtros', function (e) {
            var $filtersForm = $(this);
            var currentFieldName = e.target.name;
            if (currentFieldName === "estado") {
                $filtersForm.find('[name=cidade]').val('');
            }
            $(this).submit();
        });
    });
</script>
{{end}}
