<!DOCTYPE html>
<html>

<head>
    <title>candidatos.info</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/candidate.css">
</head>

<body>
    <!-- <section class="mainContainer"></section> -->
    <div class="mainContainer">
        <h1>{{ .State }}</h1>
        <h2>{{ .City }}</h2>
        <h3>{{ .Role }}</h3>
    </div>
    <div class="candidateInfo">
        <img src={{ .PhotoURL }}>
        <div>
            <p><strong>{{ .Name }}</strong></p>
            <p>{{ .BallotNumber }}</p>
            <p>{{ .Party }}</p>
            <p>@{{ .Twitter }}</p>
        </div>
    </div>
    <div class="proposals">
        <h3>Propostas</h3>
        <p>{{ .Description }}</p>
    </div>
    <!-- </section> -->
</body>

</html>