<!DOCTYPE html>
<html>

<head>
    <title>candidatos.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css"> 
</head>

<body>
    <form id="selections" name="mainForm" class="mainForm" method="POST" action="/profiles">
        <div class="form-group">
            <label for="sel1">Estado</label>
            <select name="stateForm" class="form-control" id="stateForm" class="stateForm">
                <option>Selecione um estado</option>
                {{ range .States }}
                <option>{{ . }}</option>
                {{ end }}
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Cidade</label>
            <select name="cityForm" class="form-control" id="cityForm" class="cityForm">
                <option>Selecione uma cidade</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Role</label>
            <select name="roleForm" class="form-control" id="rolesForm" class="rolesForm">
                <option>Selecione um tipo de candidato</option>
                <option>Vereador</option>
                <option>Prefeito</option>
            </select>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var cities = {
        {{ range .StateWithCities }}

        "{{ .State }}": [{{ range .Cities }} {{ . }}, {{ end }}],

        {{ end }}
        };
        $(document).on('change', '#stateForm', function () {
            const selectedState = ($("#stateForm").val());
            if (selectedState != "Selecione um estado") { // if one state is selected
                const state = selectedState.split("-")[1];
                var $cities = $("#cityForm");
                $cities.empty();
                const citiesOfState = cities[state];
                $.each(citiesOfState, function (key, value) {
                    $cities.append($("<option></option>").text(value));
                });
            }
        });
        $(document).on("change", "#rolesForm", function () {
            const selectedState = $("#stateForm").val();
            const selectedCity = $("#cityForm").val();
            const selectedRole = $("#roleForm").val();
            if (selectedRole === "Selecione um tipo de candidato") {
                alert("Selecione um tipo de candidato!");
                return;
            }
            if (selectedState === "Selecione um estado") {
                alert("Selectione um estado!");
                return;
            } else if (selectedCity === "Selecione uma cidade" || selectedCity === "" || selectedCity == undefined || selectedCity == null) {
                alert("Selecione uma cidade");
                return;
            } else {
                document.forms["mainForm"].submit();
            }

        });
    </script>
</body>

</html>
