<!DOCTYPE html>
<html>

<head>
    <title>candidatos.info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/profiles.css">
</head>

<body>
    <section class="mainContainer">
        <h1>{{ .State }}</h1>
        <h1>{{ .City }}</h1>
        <h1>{{ .Role }}</h1>
        <div class="flex">
            {{ range .Candidatures }}
            <form action="/candidato/{{ $.Year }}/{{ $.State }}/{{ $.City }}/{{ $.Role }}/{{ .SequencialCandidate }}">
                <button type=" submit">
                    <div>
                        <img src={{ .PhotoURL }} height="128" width="128">
                        <p>{{ .Name }}</p>
                        <p>{{ .BallotNumber }}</p>
                        <p>{{ .Party }}</p>
                        <p>@{{ .Twitter }}</p>
                    </div>
                </button>
            </form>
            {{ end }}
        </div>
    </section>
    <script>
    </script>
</body>

</html>