<!DOCTYPE html>
<html>

<head>
    <title>candidatos.info</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/profile.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <h2>Bem vindo, candidato {{ .Name }}</h2>
    <p>Por favor, preencha os dados requisitados para atualizar seu perfil no Candidatos.info.</p>
    <div>
        <p hidden id="auth">{{ .Authorization }}</p>
        <p>
            <label for="name_title">Link para site oficial</label>
            <input id="site" name="title" type="text" placeholder="Seu site" value="{{ .Site }}">
        </p>
        <p>
            <label for="name_content">Instagram</label>
            <input id="instagram" name="info" type="text" placeholder="Seu instagram" value="{{ .Instagram }}">
        </p>
        <p>
            <label for="name_content">Twitter</label>
            <input id="twitter" name="link" type="text" placeholder="Seu twitter" value="{{ .Twitter }}">
        </p>
        <p>
            <label for="name_content">Facebook</label>
            <input id="facebook" name="link" type="text" placeholder="Seu Facebook" value="{{ .Facebook }}">
        </p>
        <p>
            <label for="name_content">Mini biografia (Máx 300 caracteres)</label>
            <input id="biography" name="link" type="text" placeholder="Seu Facebook" value="{{ .Biography }}">
        </p>
        <p>
            <label for="name_content">Propostas (Máx 500 caracteres)</label>
            <input id="description" name="link" type="text" placeholder="Seu Facebook" value="{{ .Description }}">
        </p>
        <p>
            <button id='profileSubmit'>Enviar</button>
        </p>
    </div>
    <hr>
    <div>
        <p>Se deseja fazer uma denúncia digite abaixo o texto e entraremos em contato.</p>
        <input id="report" name="report" type="text" placeholder="Sua denúncia">
        <p>
            <button id='reportSubmit'>Enviar</button>
        </p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $('#profileSubmit').on('click', function () {
            const requestPayload = {
                "authorization": $("#auth").text(),
                "site": $("#site").val(),
                "instagram": $("#instagram").val(),
                "twitter": $("#twitter").val(),
                "facebook": $("#facebook").val(),
                "biography": $("#biography").val(),
                "description": $("#description").val(),
            };
            $.post("/api/v1/profiles/update", requestPayload, function (data, status) {
                alert(data.Message);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status == 404) {
                    alert(JSON.parse(jqXHR.responseText).Message);
                } else {
                    alert("Erro internto!");
                }
            });
        });
        $("#reportSubmit").on("click", function () {
            const requestPayload = {
                "authorization": $("#auth").text(),
                "report": $("#report").val(),
            };
            $.post("/api/v1/reports", requestPayload, function (data, status) {
                alert(data.Message);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status == 404) {
                    alert(JSON.parse(jqXHR.responseText).Message);
                } else {
                    alert("Erro internto!");
                }
            });
        });
    </script>
</body>

</html>